<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFolder" value="C:\OPEX\Log"/>

    <add key="CSChannelName" value="ConfigurationServiceChannel"/>
    <add key="CSPort" value="12000"/>
    <add key="CSUri" value="ConfigurationService.rem"/>

    <add key="DBSchemaName" value="opex"/>
    <add key="DBUserName" value="opex"/>
    <add key="DBPort" value="3306"/>
    <add key="DBPassword" value="password"/>
    <add key="DBHostName" value="localhost"/>

    <add key="PollInterval" value="10"/>
  </appSettings>
</configuration>