<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFolder" value="C:\OPEX\Log"/>
    <add key="LogLevel" value="Debug"/>
    <add key="ApplicationName" value="AHDemo"/>
    

    <add key="CSChannelName" value="ConfigurationServiceChannel"/>
    <add key="CSHost" value="localhost"/>
    <add key="CSPort" value="12000"/>
    <add key="CSUri" value="ConfigurationService.rem"/>    
  </appSettings>
</configuration>